body{
    background: linear-gradient(to left, #44aaf2,#ee6ef5);
    font-family: 'Courier New', Courier, monospace;
}
.center{
    display: flex;
    justify-content: center;
  }
.partic{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
}